
Các bước thực hiện (đã tích hợp các yêu cầu):

Tạo đối tượng GameBoard, bao gồm các thuộc tính:
    
Tạo một đối tượng Ball, bao gồm các thuộc tính và phương thức:
        
    Phương thức đổi hướng khi va chạm với viền hoặc thanh đỡ
        va vào thanh đỡ: đổi hướng tùy theo tốc độ của thanh đỡ (đang đứng yên thì đối xứng, có tốc độ thì góc tù hơn tỉ lệ với tốc độ)
        
Tạo một đối tượng Bar, bao gồm các thuộc tính và phương thức:
    
    Tốc độ của bar thay đổi khi giữ Ctrl
    Bar sang phải khi nhấn mũi tên phải
    Bar sang trái khi nhấn mũi tên trái

Tạo và hiển thị biến điểm tăng theo thời gian (1s 1 điểm)